<h1>Add a new link</h1>

<form action="">
  <table>
    <tr>
      <td>Title: </td>
      <td><input type="text" required ng-model="title"></td>
    </tr>
    <tr>
      <td>Url: </td>
      <td><input type="text" required ng-pattern="" ng-model="url"></td>
    </tr>
    <tr>
      <td>Add tags: </td>
      <td><input type="text" ng-model="tag"></td>
      <td><button ng-click="addTag()">Add/Find tag</button></td>
      <td><span></span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div>
          tag area: add/search for a tag one at a time
          <div class="tags" ng-repeat="tag in tagNames">
            {{tag}} <i ng-click="deleteTag(tag)" class="fa fa-times-circle"></i>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><input type="submit" ng-click="submit()"></td>
    </tr>
  </table>
</form>